<abp-page [title]="'::Menu:StaffSalaryPayments' | abpLocalization">
  <!-- Toolbar -->
  <abp-page-toolbar-container class="col">
    <div class="text-end">
      <button *abpPermission="'EHub.StaffSalaryPayments.Create'" class="btn btn-outline-primary btn-sm" type="button"
        (click)="create()">
        <i class="fa fa-plus me-1"></i>
        {{ '::New' | abpLocalization }}
      </button>
    </div>
  </abp-page-toolbar-container>

  <!-- Header: Search + Filters toggle (Student style) -->
  <div class="card">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-8 col-sm-10">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" [placeholder]="'::SearchHere' | abpLocalization"
              [(ngModel)]="filters.filter" />
            <button type="button" class="btn btn-primary btn-sm" title="Search" (click)="list.get()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

        <div class="col-4 col-sm-2 text-end">
          <button class="btn btn-outline-primary btn-sm w-100" type="button" (click)="showFilter = !showFilter">
            <i class="fas fa-filter d-sm-none"></i>
            <span class="d-none d-sm-inline">{{ '::Filters' | abpLocalization }}</span>
            <i class="fas fa-angle-down ms-1" *ngIf="!showFilter"></i>
            <i class="fas fa-angle-up ms-1" *ngIf="showFilter"></i>
          </button>
        </div>
      </div>

      <!-- Filters panel -->
      <div *ngIf="showFilter" class="mt-2">
        <div class="row g-2">
          <div class="col-sm-4">
            <label>{{ '::Staff' | abpLocalization }}</label>
            <nz-select class="w-100" nzAllowClear nzShowSearch [(ngModel)]="filters.staffId">
              <nz-option *ngFor="let s of staffOptions" [nzValue]="s.id" [nzLabel]="staffLabel(s)"></nz-option>
            </nz-select>
          </div>

          <!-- <div class="col-sm-3">
            <label>{{ '::SalaryMonth' | abpLocalization }}</label>
            < month picker (simple): use input type="month" -->
          <!-- <input type="month" class="form-control form-control-sm" [(ngModel)]="salaryMonthUi" />
          </div> -->

          <div class="col-sm-2">
            <label>{{ '::FromDate' | abpLocalization }}</label>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="filters.fromDate" />
          </div>

          <div class="col-sm-2">
            <label>{{ '::ToDate' | abpLocalization }}</label>
            <input type="date" class="form-control form-control-sm" [(ngModel)]="filters.toDate" />
          </div>

          <div class="col-sm-auto d-flex align-items-end mt-2 gap-1">
            <button type="button" class="btn btn-sm btn-outline-primary" (click)="clearFilters()">
              <i class="fas fa-undo"></i> {{ '::Reset' | abpLocalization }}
            </button>

            <button type="button" class="btn btn-primary btn-sm" (click)="applyFilters()">
              <i class="fa fa-filter"></i> {{ '::Apply' | abpLocalization }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="card mt-2">
    <div class="card-body">
      <ngx-datatable [rows]="payments.items" [count]="payments.totalCount" [list]="list" default>
        <ngx-datatable-column [sortable]="false" [width]="60" [canAutoResize]="false" [draggable]="false"
          [resizeable]="false">
          <ng-template ngx-datatable-cell-template let-row="row">
            <div ngbDropdown container="body" class="d-inline-block">
              <button type="button" class="ngx-actions-btn" ngbDropdownToggle>
                <i class="fas fa-ellipsis-v"></i>
              </button>

              <div ngbDropdownMenu>
                <button *abpPermission="'EHub.StaffSalaryPayments.Edit'" ngbDropdownItem (click)="edit(row.id)">
                  {{ '::Edit' | abpLocalization }}
                </button>

                <button *abpPermission="'EHub.StaffSalaryPayments.Delete'" ngbDropdownItem (click)="delete(row.id)">
                  {{ '::Delete' | abpLocalization }}
                </button>
              </div>
            </div>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [name]="'::Staff' | abpLocalization" prop="staffName"></ngx-datatable-column>

        <ngx-datatable-column [name]="'::SalaryMonth' | abpLocalization" prop="salaryMonth">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.salaryMonth | date:'yyyy-MM' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::PaymentDate' | abpLocalization" prop="paymentDate">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.paymentDate | date:'yyyy-MM-dd' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::Amount' | abpLocalization" [maxWidth]="140">
          <ng-template ngx-datatable-cell-template let-row="row">
            {{ row.salaryAmount | number:'1.2-2' }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column [name]="'::Remarks' | abpLocalization" prop="remarks"></ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</abp-page>

<!-- Create / Edit Modal -->
<abp-modal [(visible)]="isModalOpen" [options]="{ size: 'lg' }">
  <ng-template #abpHeader>
    <h3>
      {{ selected.id ? ('::EditStaffSalaryPayment' | abpLocalization) : ('::NewStaffSalaryPayment' | abpLocalization) }}
    </h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form">
      <div class="row g-2">
        <div class="col-md-6">
          <label>{{ '::Staff' | abpLocalization }}</label><span class="text-danger"> *</span>
          <nz-select class="w-100" nzShowSearch nzAllowClear formControlName="staffId" nzSize="large">
            <nz-option *ngFor="let s of staffOptions" [nzValue]="s.id" [nzLabel]="staffLabel(s)"></nz-option>
          </nz-select>
        </div>

        <div class="col-md-6">
          <label>{{ '::SalaryMonth' | abpLocalization }}</label><span class="text-danger"> *</span>
          <input type="month" class="form-control" formControlName="salaryMonthUi" />
        </div>

        <div class="col-md-6">
          <label>{{ '::PaymentDate' | abpLocalization }}</label><span class="text-danger"> *</span>
          <input type="date" class="form-control" formControlName="paymentDate" />
        </div>

        <div class="col-md-6">
          <label>{{ '::Amount' | abpLocalization }}</label><span class="text-danger"> *</span>
          <input type="number" class="form-control" formControlName="salaryAmount" />
        </div>

        <div class="col-md-12">
          <label>{{ '::Remarks' | abpLocalization }}</label>
          <textarea class="form-control" rows="2" formControlName="remarks"></textarea>
        </div>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button class="btn btn-secondary" abpClose>{{ '::Close' | abpLocalization }}</button>
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>